# Differential Privacy (DP) Private Aggregate Seeded Synthesizer

In [1]:
import pandas as pd

from pacsynth import init_logger, set_number_of_threads
from pacsynth import Dataset
from pacsynth import DpAggregateSeededParametersBuilder, AccuracyMode, FabricationMode
from pacsynth import DpAggregateSeededSynthesizer, Dataset

from utils import gen_data_frame

## Generating an example data frame with random data

In [2]:
number_of_records_to_generate = 6000

sensitive_df = gen_data_frame(number_of_records_to_generate)

## Creating the sensitive dataset

In [3]:
sensitive_dataset = Dataset.from_data_frame(sensitive_df)

## Generating the synthetic data

In [4]:
reporting_length = 4

builder = DpAggregateSeededParametersBuilder() \
    .reporting_length(reporting_length) \
    .epsilon(4.0) \
    .accuracy_mode(AccuracyMode.prioritize_long_combinations()) \
    .fabrication_mode(FabricationMode.uncontrolled()) \
    .use_synthetic_counts(True)

synth = DpAggregateSeededSynthesizer(builder.build())

synth.fit(sensitive_dataset)

synthetic_raw_data = synth.sample(synth.get_dp_number_of_records())
synthetic_dataset = Dataset(synthetic_raw_data)

synthetic_df = Dataset.raw_data_to_data_frame(synthetic_raw_data)

## Generating/exporting aggregate data

This illustrates how to generate aggregates directly from the sensitive and synthetic data, as well as how to access the DP aggregates.

In [5]:
sensitive_aggregates = sensitive_dataset.get_aggregates(reporting_length, ';')

dp_aggregates = synth.get_dp_aggregates(';')

synthetic_aggregates = synthetic_dataset.get_aggregates(reporting_length, ';')

## Evaluating

In [6]:
sensitive_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6000.000000,6000.000000,6000.00000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,0.992333,2.646333,4.57900,0.502333,0.492667,0.497000,0.498833,0.501500,0.487500,0.493000
std,0.816324,2.107129,3.32665,0.500036,0.499988,0.500033,0.500040,0.500039,0.499885,0.499993
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,3.000000,5.00000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,2.000000,5.000000,7.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.000000,10.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
synthetic_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6030.000000,6030.000000,6030.000000,6030.000000,6030.000000,6030.000000,6030.000000,6030.000000,6030.000000,6030.000000
mean,0.937977,2.462023,4.250083,0.477944,0.470149,0.462355,0.478441,0.475788,0.465008,0.469818
std,0.825132,2.132173,3.401991,0.499555,0.499150,0.498622,0.499576,0.499455,0.498815,0.499130
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,4.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000