# Differential Privacy (DP) Aggregate Seeded Synthesizer

In [57]:
import pandas as pd

from pacsynth import init_logger, set_number_of_threads
from pacsynth import Dataset
from pacsynth import DpAggregateSeededParametersBuilder, AccuracyMode, FabricationMode
from pacsynth import DpAggregateSeededSynthesizer, Dataset

from utils import gen_data_frame

## Generating an example data frame with random data

In [58]:
number_of_records_to_generate = 6000

sensitive_df = gen_data_frame(number_of_records_to_generate)

## Creating the sensitive dataset

In [59]:
sensitive_dataset = Dataset.from_data_frame(sensitive_df)

## Generating the synthetic data

In [60]:
reporting_length = 4

builder = DpAggregateSeededParametersBuilder() \
    .reporting_length(reporting_length) \
    .epsilon(0.9) \
    .accuracy_mode(AccuracyMode.prioritize_long_combinations()) \
    .fabrication_mode(FabricationMode.uncontrolled()) \
    .use_synthetic_counts(True)

synth = DpAggregateSeededSynthesizer(builder.build())

synth.fit(sensitive_dataset)

synthetic_raw_data = synth.sample(synth.get_dp_number_of_records())
synthetic_dataset = Dataset(synthetic_raw_data)

synthetic_df = Dataset.raw_data_to_data_frame(synthetic_raw_data)

## Generating/exporting aggregate data

This illustrates how to generate aggregates directly from the sensitive and synthetic data, as well as how to access the DP aggregates.

In [61]:
sensitive_aggregates = sensitive_dataset.get_aggregates(reporting_length, ';')

dp_aggregates = synth.get_dp_aggregates(';')

synthetic_aggregates = synthetic_dataset.get_aggregates(reporting_length, ';')

## Evaluating

In [62]:
sensitive_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6000.000000,6000.0000,6000.00000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,0.993833,2.6180,4.58300,0.503167,0.509167,0.502667,0.495500,0.484167,0.504167,0.499500
std,0.818071,2.1274,3.33086,0.500032,0.499958,0.500035,0.500021,0.499791,0.500024,0.500041
min,0.000000,0.0000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.0000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.0000,5.00000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,2.000000,4.0000,8.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.0000,10.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [63]:
synthetic_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6029.000000,6029.000000,6029.000000,6029.000000,6029.00000,6029.00000,6029.000000,6029.000000,6029.000000,6029.000000
mean,0.905291,2.299552,3.875933,0.484326,0.48416,0.49096,0.469232,0.477857,0.496102,0.488804
std,0.832019,2.157340,3.451368,0.499796,0.49979,0.49996,0.499094,0.499551,0.500026,0.499916
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.000000,3.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,4.000000,7.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.000000,10.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,1.000000