# DP Aggregate Seeded Synthesizer

In [92]:
import pandas as pd

from sdssynth import init_logger, set_number_of_threads
from sdssynth import Dataset
from sdssynth import DpAggregateSeededParametersBuilder, AccuracyMode, FabricationMode
from sdssynth import DpAggregatedSeededSynthesizer, Dataset

from utils import gen_dataset

## Generating an example data frame with random data

In [93]:
number_of_records_to_generate = 6000

sensitive_df = gen_dataset(number_of_records_to_generate)

## Creating the sensitive dataset

In [94]:
sensitive_dataset = Dataset.from_data_frame(sensitive_df)

## Generating the synthetic data

In [95]:
reporting_length = 4

builder = DpAggregateSeededParametersBuilder() \
    .reporting_length(reporting_length) \
    .epsilon(0.9) \
    .accuracy_mode(AccuracyMode.prioritize_large_counts()) \
    .fabrication_mode(FabricationMode.uncontrolled()) \
    .use_synthetic_counts(True)

synth = DpAggregatedSeededSynthesizer(builder.build())

synth.fit(sensitive_dataset)

synthetic_raw_data = synth.sample(synth.get_dp_number_of_records())
synthetic_dataset = Dataset(synthetic_raw_data)

synthetic_df = Dataset.raw_data_to_data_frame(synthetic_raw_data)

## Generating/exporting aggregate data

In [96]:
sensitive_aggregates = sensitive_dataset.get_aggregates(reporting_length, ';')

dp_aggregates = synth.get_dp_aggregates(';')

synthetic_aggregates = synthetic_dataset.get_aggregates(reporting_length, ';')

## Evaluating

In [97]:
sensitive_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,1.012500,2.599167,4.537500,0.503000,0.500333,0.506500,0.504667,0.514333,0.502667,0.499833
std,0.817999,2.117998,3.335733,0.500033,0.500042,0.499999,0.500020,0.499836,0.500035,0.500042
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,2.000000,4.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [98]:
synthetic_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6003.000000,6003.000000,6003.000000,6003.000000,6003.000000,6003.000000,6003.000000,6003.000000,6003.000000,6003.000000
mean,0.913043,2.156755,3.909545,0.489255,0.488089,0.492754,0.478094,0.481759,0.489755,0.479427
std,0.832789,2.159173,3.476390,0.499926,0.499900,0.499989,0.499562,0.499709,0.499937,0.499618
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,4.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000